.button {
  background-color: #75757c;
  border: none;
  width: 70px; 
  outline: none;
  height: 30px;
  border-radius: 5%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: rgb(247, 152, 184);
  transition: 0.2s ;
  box-shadow: 0 3px 5px rgba(121, 123, 129, 0.5);
}
.button:hover{
  transform: scale(1.1);
}
.button:focus {
  border: none;
  transform: scale(0.9);
}